<p style="color: green"><%= notice %></p>

<%= render @post %>

<%= button_to "Deletar post", @post, method: :delete, data: { confirm: "Tem certeza?" }, class: "bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded mb-2" %>

<div>
  <%= link_to "Editar post", edit_post_path(@post), class: "no-underline" %> |
  <%= link_to "Voltar aos posts", posts_path, class: "no-underline"%> ->
</div>
